<div>
  <h2>Home Component</h2>
  <img [src]="imageUrl" alt="Angular Logo" style="max-width: 300px; height: auto;">
  <div>
    <button [disabled]="isDisabled">Bouton</button>
    <input [(ngModel)]="v3">
    <p>La valeur de v3 : {{ v3 }}</p>
  </div>
  
  <h3>List 1 - Students</h3>
  <div *ngFor="let s1 of student1">
    <p>{{ s1.name }} - {{ s1.age }} ans - Grade: {{ s1.grade }}</p>
  </div>

  <h3>List 2 - Students</h3>
  <div *ngFor="let s2 of student2">
    <p>ID: {{ s2.id }} - {{ s2.name }} - {{ s2.age }} ans</p>
  </div>
</div>
